h2{
    text-align: center;
}
select{
    width: 300px;
}
#title{
    text-align: center;
}

#newFollowerDesc{
    visibility: hidden;
}
.dailyCostOK{
    color: green;
}
.dailyCostWRONG{
    color: red;
}
.operationStatus{
    width: 100%;
    float: right;
}
body{
    background: white;
    overflow-x: hidden; overflow-y: scroll; -webkit-overflow-scrolling: touch;
}